$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

$maxMobile : "(max-width: 767px)";
$maxSmall : "(max-width: 991pxpx)";
$minSmall : "(min-width: 768px)";
$minMedium : "(min-width: 992px)";
$minLarge : "(min-width: 1200px)";